h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: $font__heading;
  font-weight: 400;
}

h1 {
  @include header_l;

  @include breakpoint('tablet') {
    @include header_xl;
  }

  @include breakpoint('desktop') {
    @include header_xxl;
  }

  &.jumbo {
    @include header_l;

    @include breakpoint('mobile') {
      @include header_xl;
    }

    @include breakpoint('desktop') {
      @include header_jumbo;
    }
  }
}

h2 {
  @include header_l;

  @include breakpoint('desktop') {
    @include header_xl;
  }
}

h3 {
  @include header_m;

  @include breakpoint('desktop') {
    @include header_l;
  }
}

h4 {
  @include header_m;
}

h5,
h6 {
  @include header_s;
}

h1,
h2,
h3 {
  + p {
    margin-top: space(2);
  }
}

h4,
h5 {
  + p {
    margin-top: space();
  }
}

p,
li {
  @include body;

  &.large {
    @include body-l;
  }
}

.block {
  p {
    &:not(:last-child) {
      margin-bottom: 1.6em;
    }
  }
}

a {
  color: $color__black;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    outline: 4px solid $focus-ring;
    outline-offset: 0;
  }
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

ul,
ol {
  li {
    margin-bottom: 10px;
  }
}

ul {
  padding-left: 18px;

  li {
    position: relative;

    &:before {
      content: '\25A0';
      color: inherit;
      position: absolute;
      left: -20px;
      font-size: 1em;
    }
  }
}

ol {
  list-style: decimal;
  list-style-position: inside;
}
