@import 'core';

.wrapper {
  // mobile styles go header

  @include breakpoint('tablet') {
    // tablet styles go here
  }

  @include breakpoint('desktop') {
    // desktop styles go here
  }
}
.heroBio {
  margin-top: 260px;
  text-align: center;
}

.figLogos {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.madeOf {
  width: 100%;
  text-align: center;
  margin: 100px 0;
}

.circleButton {
  text-align: center;
  margin: 100px 0;
}

.bottomSection {
  background-color: $color__black;

  .question,
  .cta {
    color: white;
  }
  .content {
    margin-top: space(6);
    text-align: center;
  }

  .btnGroup {
    margin-top: space(6);
    justify-content: center;
  }
}
