@import 'core';

.heroBio {
  text-align: center;
  margin: 60px auto 0;

  @include breakpoint('tablet') {
    margin: 160px auto 0;
  }

  @include breakpoint('desktop') {
    max-width: percentage(6, 8);
    margin: 260px auto 0;
  }
}

.figLogos {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.madeOf {
  padding-bottom: 120px;
}

.bottomSection {
  background-color: $color__black;
  margin-top: 200px;

  .question,
  .cta {
    color: white;
  }
  .content {
    margin-top: space(6);
    text-align: center;
  }

  .btnGroup {
    margin-top: space(6);
    justify-content: center;
  }
}
