@import 'core';

.main {
  overflow: hidden;
}
.form {
  text-align: center;
}

.formItem {
  position: relative;
  margin-bottom: space(12);
}

.formQuestion {
  font-family: $font__special;
  text-align: center;
  margin-bottom: space(9);
}

.inputWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: space(3);

  @include breakpoint('mobile') {
    flex-flow: row;
  }
}

.input {
  width: 100%;

  @include breakpoint('mobile') {
    max-width: 415px;
  }
}

.blob {
  top: -31px;
}
