@import 'core';

.hero {
  padding: 200px 0 148px;
}

.form {
  text-align: center;
}

.formQuestion {
  font-family: $font__special;
  text-align: center;
  margin-bottom: space(9);
}

.multiInputRow {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  gap: space(3);

  @include breakpoint('mobile') {
    flex-flow: row;
  }

  .input {
    flex: 1;
  }
}

.formSubmitBtn {
  background: $color__lime;
  width: 156px;
  height: 156px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include header_m;
    font-family: $font__special;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: space(1.5);
  }
}
