@import 'core';

.section {
  position: relative;
  background-color: $color__black;
  height: 782px;

}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: percentage(147, 1440);
  margin-top: 150px;

}

.ready {
  color: $color__lime;
  // @include header_jumbo;
}

.adjective {
  font-family: $font__special;
  font-size: 16px;
  color: white;
}

.define {
  color: white;
  font-family: $font__special;
  font-size: 24px;
}

.stories {
  text-align: center;
  margin-top: 200px;
}