@import 'core';

.section {
  position: relative;
  background-color: $color__black;
  height: 700px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.introText {
  color: white;
  font-family: $font__special;
  font-size: 24px;
  margin-bottom: 40px;
  max-width: 800px;
}

.ready {
  color: $color__lime;
  // @include header_jumbo;
}

.adjective {
  font-family: $font__special;
  font-size: 16px;
  color: white;
}

.define {
  color: white;
  font-family: $font__special;
  font-size: 24px;
}

.stories {
  text-align: center;
  margin-top: 180px;
}

.storyWrapper {
  margin: 50px 0;
  padding: 45px;
  border: 2px dotted $color__lime;
  border-radius: 20px;
}

.storyBody {
  text-align: left;
}

.bottomSection {
  background-color: $color__black;
  margin-top: 200px;

  .question,
  .cta {
    color: white;
  }
  .content {
    margin-top: space(6);
    text-align: center;
  }

  .btnGroup {
    margin-top: space(6);
    justify-content: center;
  }
}
