@import 'core';

.heroHeadline {
  margin-top: space(7);

  @include breakpoint('mobile') {
    margin-left: percentage(1, 12);
  }

  @include breakpoint('desktop') {
    @include header_jumbo;
  }
}

.facts {
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}

.bottomSection {
  margin-top: 100px;
  background-color: $color__lime;

  .content {
    margin-top: space(6);
    text-align: center;
  }

  .btnGroup {
    margin-top: space(6);
    justify-content: center;
  }
}

.submitBtn {
  background-color: $color__black;
  color: white;
}
