@import 'core';

.heroHeadline {
  padding: 193px 72px;
  @include header_jumbo;
}

.facts {
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}

.tMemb {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.fMemb {
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}
