// Primary Palette
$color__black: #000;
$color__really-dark: #1a191a;
$color__ash: #303030;
$color__grey: #ededed;
$color__peach: #ffdfc8;
$color__peach-light: #ffe7d5;
$color__peach-lightest: #fff2e9;
$color__lime: #f5ffb6;
$color__coral: #ffa98e;
$color__coral-dark: #d95323;

// Colors below this were experimental, may get rid of them eventually
$color__sage: #d8d6c6;
$color__indigo: #817eff;
$color__indigo-bg: #e3e9ff;
$color__indigo-light: #d0dbff;

// Status
$color__status--error: #c22d00;
$color__status--success: #43c276;
$color__status--warning: #f0c91f;

// Utility
$focus-ring: rgba($color__lime, 0.4);
