// Type
///////////////////////////////////////////////
$font__body: 'Noto Sans', sans-serif;
$font__heading: 'Fraunces', serif;
$font__special: 'Space Grotesk', sans-serif;

@mixin header_jumbo {
  font-size: 128px;
  line-height: 1.1;
  letter-spacing: -3px;
}

@mixin header_xxl {
  font-size: 92px;
  line-height: 1.04;
  letter-spacing: -2.5px;
}

@mixin header_xl {
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: -1px;
}

@mixin header_l {
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.96px;
}

@mixin header_m {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.48px;
}

@mixin header_s {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.24px;
}

@mixin body-l {
  font-size: 18px;
  line-height: 1.72;
}

@mixin body {
  font-size: 16px;
  line-height: 1.72;
}
