@use 'sass:math';

@mixin fixed-0 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin absolute-0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin focus-ring-shadow {
  box-shadow: 0 0 0 6px $focus-ring;
}

@function percentage($num, $denom) {
  @return math.percentage(math.div($num, $denom));
}

@mixin safari-border-radius-overflow-bugfix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
