@import 'core';

.section {
  position: relative;
  margin-bottom: 100px;
}

.inner {
  position: relative;
  padding: 100px 0;

  @include breakpoint('desktop') {
    padding: 180px 0 240px;
  }
}

.imgWrapper {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color__black, 0.65);
  }
}

.claimImg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.claimText {
  position: relative;
  width: percentage(6, 8);
  margin: 0 auto;
  text-align: center;

  @include breakpoint('tablet') {
    width: percentage(8, 12);
  }

  @include breakpoint('desktop') {
    width: 100%;
    max-width: 854px;
  }
}

.subText {
  font-family: $font__special;
  @include body-l;
  color: white;
  margin-bottom: 1rem;

  @include breakpoint('tablet') {
    @include special_s;
  }
}

.bigText {
  @include header_jumbo;
  color: $color__lime;
}

.lowerText {
  color: white;
  margin-top: 1rem;
}
