@import 'core';

.wrapper {
  @include breakpoint('mobile') {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  background-color: $color__black;

  @include breakpoint('tablet-lg') {
    margin-top: space(12);
  }
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 92px;
}

.image {
  width: percentage(6, 8);
  height: auto;
  aspect-ratio: 6/8;
  margin-top: space(8);

  @include breakpoint('mobile') {
    width: percentage(6, 12);
  }

  @include breakpoint('tablet-lg') {
    margin-top: -(space(12));
  }

  @include breakpoint('desktop') {
    width: percentage(4, 12);
  }

  img {
    width: 100%;
    margin-bottom: -(space(6));
  }
}

.info {
  max-width: 900px;
  margin: auto;
  margin-top: -(space(6));
  padding: 0 space(2);

  @include breakpoint('mobile') {
    max-width: 1100px;
    padding: 0 space(3);
  }
}

.quoteText {
  @include header_s;

  @include breakpoint('mobile') {
    @include header_m;
  }

  @include breakpoint('desktop') {
    @include header_l;
  }
}

.quoteName {
  margin-top: space(3);
  font-family: $font__special;
  @include body-l;

  @include breakpoint('tablet') {
    @include header_s;
  }
}
