@import 'core';

.wrapper {
  padding-top: 260px;
  padding-bottom: 250px;

  @include breakpoint('desktop') {
    padding-top: 311px;
    padding-bottom: 270px;
  }
}

.imageWrapper {
  position: absolute;

  &.left {
    bottom: calc(100% - space(4));
    @include breakpoint('xs') {
      bottom: calc(100%);
    }
    @include breakpoint('desktop') {
      bottom: calc(100% - space(4));
    }
  

    .titleWrapper {
      @include breakpoint('desktop', 'max') {
        transform-origin: bottom left;
        transform: rotate(90deg);
        width: max-content;
        top: -7%;
        mix-blend-mode: color-dodge;
      }
    }
  }

  &.right {
    top: calc(100% - space(6));
    right: 0;

    @include breakpoint('xs') {
      top: calc(100%);
    }
    @include breakpoint('desktop') {
      top: calc(100% - space(5));
    }

    .titleWrapper {
      @include breakpoint('desktop', 'max') {
        transform-origin: top right;
        transform: rotate(90deg) translateX(calc(100% + space(6)));
        left: unset;
        right: 100%;
        width: max-content;
      }
    }
  }
}

.titleWrapper {
  display: flex;
  flex-flow: column;
  position: absolute;
  left: 100%;
  top: 0;
  font-family: $font__special;
  line-height: 1.4;
  mix-blend-mode: lighten;

  @include breakpoint('desktop') {
    top: unset;
    left: 0;
    bottom: 0;
  }
}

.image {
  border-radius: 300px;
  height: 277px;
  aspect-ratio: 3/4;
  @include safari-border-radius-overflow-bugfix;

  @include breakpoint('desktop') {
    height: 555px;
  }
}

.text {
  @include special_m;
  font-family: $font__special;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 1;
  mix-blend-mode: exclusion;

  @include breakpoint('xs') {
    @include special_l;
    width: percentage(10, 15);
    font-size: 30px
  }

  @include breakpoint('mobile') {
    @include special_l;
    width: percentage(10, 15);
  }

  @include breakpoint('tablet') {
    @include special_l;
    width: percentage(10, 17);
  }

  @include breakpoint('desktop') {
    width: percentage(8, 15);
  }
}
