@import 'core';

.container {
  width: 100%;
  margin: auto;

  @include breakpoint('tablet', max) {
    padding: 0 space(2);
  }

  @include breakpoint('tablet') {
    max-width: $container__tablet;
  }

  @include breakpoint('tablet-lg') {
    max-width: $container__tablet-lg;
  }

  @include breakpoint('desktop') {
    max-width: $container__desktop;
  }

  @include breakpoint('desktop-lg') {
    max-width: $container__desktop-lg;
  }
}
