@import 'core';

.wrapper {
  padding: space(20) 0;
}

.headingWrapper {
  margin: auto;
  margin-bottom: space(8);
  width: percentage(10, 12);

  @include breakpoint('tablet') {
    margin-bottom: space(12);
  }

  @include breakpoint('desktop') {
    width: percentage(8, 12);
  }
}

.eyebrow {
  color: $color__coral-dark;
  margin-bottom: space(3);
}

.headline {
  @include header_l;

  @include breakpoint('tablet') {
    @include header_xl;
  }

  @include breakpoint('desktop') {
    @include header_xxl;
  }
}

.cardShuffler {
  padding-top: space(4);

  @include breakpoint('desktop') {
    padding-top: space(6);
  }
}
