@import 'core';

.wrapper {
  padding: space(20) 0;
}

.headingWrapper {
  width: percentage(8, 12);
  margin: auto;
  margin-bottom: space(12);
}

.eyebrow {
  color: $color__coral-dark;
  margin-bottom: space(3);
}

.headline {
  @include header_xxl;
}

.cardShuffler {
  padding-top: space(4);

  @include breakpoint('desktop') {
    padding-top: space(6);
  }
}
