@import 'core';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;
  margin: auto;
  position: relative;
  z-index: 1000;

  @include breakpoint('tablet') {
    padding: 48px 0;
  }

  @include breakpoint('desktop') {
    padding: 60px 0;
  }

  &.menuIsOpen {
    .circleWrapper {
      transform: translateY(50%);
    }

    .circle {
      transform: translate(-35%, -50%) scale(1);
    }

    .overlayWrapper {
      pointer-events: all;
    }

    .overlay {
      opacity: 1;
    }

    .navToggle {
      position: fixed;
      z-index: 10;
      color: $color__black;

      .btnTextWrapperInner {
        transform: translateY(-24px);
      }
    }

    .burgerWrapper {
      span {
        background: $color__black;

        &:first-child {
          transform: rotate(-45deg) translateY(0);
        }
        &:last-child {
          transform: rotate(45deg) translateY(0);
        }
      }
    }

    .navWrapper {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.5s $motion__cubic-ease--1 0.2s;
      z-index: 2;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlayWrapper {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay {
  transition: opacity 0.5s $motion__cubic-ease--1;
  background-color: rgba($color__black, 0.7);
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circleWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  // transform: translate(0, -50%);
  width: 100%;
  height: 100vh;
  transition: all 0.5s $motion__cubic-ease--1;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1440px;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 50%;
  transition: all 0.5s $motion__cubic-ease--1;
  border-radius: 50%;
  background: $color__lime;
}

.navToggle {
  position: relative;
  background: transparent;
  display: flex;
  font-family: $font__special;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
  padding: 0;
  z-index: 2;

  &:focus-visible {
    outline: 4px solid $focus-ring;
    outline-offset: 0;
  }

  .btnTextWrapper {
    overflow: hidden;

    .btnTextWrapperInner {
      transition: 0.5s $motion__cubic-ease--1;
      height: 24px;
      width: 64px;

      p {
        line-height: 24px;
        font-size: 18px;
      }
    }
  }
}

.burgerWrapper {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: space(1.5);

  span {
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 28px;
    height: 2.5px;
    background: $color__black;
    transition: 0.5s $motion__cubic-ease--1;

    &:first-child {
      transform: translateY(-4px);
    }
    &:last-child {
      transform: translateY(4px);
    }
  }
}

:global(.theme_dark) {
  .burgerWrapper {
    span {
      background: #fff;
    }
  }
}

.navWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;

  nav {
    height: 100%;
    padding-top: space(12);
    font-family: $font__special;

    @include breakpoint('tablet') {
      padding-top: space(17);
    }
  }
}

.menuWrapper {
  height: 100%;
  position: relative;
}

.scrollContainer {
  overflow-y: scroll;
  height: 100%;
  padding: space(7) 0 space(12);

  &::-webkit-scrollbar {
    display: none;
  }

  &:before {
    content: '';
    background: linear-gradient(
      0deg,
      rgba($color__lime, 0),
      rgba($color__lime, 1)
    );
    display: block;
    height: space(7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
}

.menuNavLinks {
  margin: auto;
  display: inline-flex;
  flex-flow: column;
  @include header_m;
  gap: space(2);

  .navItem {
    &:hover {
      transform: translateX(8px);

      .linkArrow {
        opacity: 1;
      }
    }
  }
}

.navItem {
  color: $color__black;
  text-decoration: none;
  transition: 0.3s $motion__cubic-ease--1;

  .linkArrow {
    margin-left: 16px;
    opacity: 0;
    transition: 0.3s $motion__cubic-ease--1;
  }
}

.menuMoreInfo {
  display: flex;
  flex-flow: column;
  margin-top: space(8);
  @include header_s;

  @include breakpoint('mobile') {
    flex-flow: row;
    margin-top: space(12);
  }

  @include breakpoint('tablet') {
    margin-top: space(17);
  }
}

.menuSecondaryLinks,
.menuAddress {
  display: flex;
  flex-flow: column;
  gap: space(2);
}

.menuSecondaryLinks {
  .navItem {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    font-size: 18px;
    line-height: 1.64;

    &:hover {
      text-decoration: none;
    }
  }
}

.menuAddress {
  color: $color__black;
  margin-top: space(8);

  @include breakpoint('mobile') {
    margin-left: min(140px, 16vw);
    margin-top: 0;
  }

  .navItem {
    font-size: 18px;
    line-height: 1.72;
  }
}

.logoWrapper {
  margin-left: auto;
}

.logo {
  max-width: 126px;
}
