@import 'core';

.wrapper {
  position: relative;
  width: 100%;
}

.homeHeroContent {
  position: relative;
}

.heroImg {
  position: absolute !important;
  z-index: -1;
  border-radius: 999px;
  top: 40px;

  @include breakpoint('tablet') {
    left: 371px;
    top: -20px;
  }
}

.heroSubtext {
  font-family: $font__special;
  @include header_m;
  max-width: 536px;
  margin-top: 317px;
}

.heroBtn {
  position: absolute;
  text-align: center;
  right: 20px;
  bottom: 20px;
}

.heroBio {
  margin-top: 560px;
  text-align: center;
}
