@import 'core';

.wrapper {
  position: relative;
  width: 100%;
}

.homeHeroContent {
  position: relative;
  margin-bottom: 260px;
}

.heroHeadline {
  @include header_xxl;
  max-width: 730px;
  // TODO: remove once type for mobile
}

.heroImg {
  position: absolute;
  z-index: -1;
  border-radius: 999px;
  top: 40px;

  @include breakpoint('tablet') {
    left: 371px;
    top: -20px;
  }
}

.heroSubtext {
  font-family: $font__special;
  @include header_m;
  width: 636px;
  margin-top: 317px;
}

.heroBtn {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.heroBio {
  text-align: center;
}
