@import 'core';

.section {
  position: relative;
  height: 740px;

  @include breakpoint('tablet') {
  height: 1228px;  }
}

.container {
  position: initial;
}

.wrapper {
  display: flex;
  
}

.upperText {
  text-align: center;
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.singleLogo {
  max-width: 85px;
  position: absolute;
  padding: 10px 0;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @include breakpoint('tablet') {
    max-width: 180px;
  }

  @include breakpoint('desktop') {
    max-width: 220px;
  }


  // 3rd Point
  &:nth-child(1) {
    top: percentage(645,1228);
    left: percentage(44, 1440);
    animation-duration: 3.1s;
  }
  // Cerberus
  &:nth-child(2) {
    top: percentage(90,1228);
    left: percentage(112, 1440);
    animation-duration: 2.1s;
  }
  // Tiger
  &:nth-child(3) {
    top: percentage(892,1228);
    left: percentage(340,1228);
    animation-duration: 2.4s;
  }
  // SilverPoint
  &:nth-child(4) {
    top: percentage(157,1228);
    left: percentage(559, 1440);
    animation-duration: 3.8s;
  }
  // Two Sigma
  &:nth-child(5) {
    top: percentage(928,1228);
    left: percentage(974, 1440);
    animation-duration: 3.2s;
  }
  // Lightyear
  &:nth-child(6) {
    top: percentage(350,1228);
    left: percentage(1100, 1440);
    animation-duration: 4s;
  }
  // Centerbridge
  &:nth-child(7) {
    top: percentage(5,1228);
    left: percentage(1111, 1440);
    animation-duration: 3.6s;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
