@import 'core';

.wrapper {
  position: relative;

  &.stacked {
    margin-bottom: space(3);
  }
}

.label {
  font-family: $font__special;
  font-size: 18px;
  line-height: 1.96;
  position: absolute;
  top: 12px;
  left: space(3) + 2px - 8px;
  font-weight: 600;
  transition: 0.3s $motion__cubic-ease--1;
  pointer-events: none;
  padding: 0 space(1);
}

.input {
  width: 100%;
  background: $color__peach;
  color: $color__black;
  font-family: $font__special;
  font-size: 18px;
  line-height: 1.96;
  border: 2px solid $color__black;
  border-radius: 30px;
  height: 60px;
  padding: 0 space(3);
  outline: none;
  padding-right: space(8);
  transition: box-shadow 0.3s $motion__cubic-ease--1;
  font-weight: 600;

  &::-webkit-validation-bubble-message {
    display: none;
  }

  &::placeholder {
    opacity: 0; // we hide the placeholder b/c we use the :not(:placeholder-shown) pseudo selector to control label transform
  }

  &:not([disabled]) {
    &:focus {
      box-shadow: 4px 4px 0 4px $color__lime;
      font-weight: 400;
    }

    &:focus,
    &:not(:placeholder-shown) {
      ~ .label {
        transform: translateY(-26px);
        font-size: 16px;
        background: $color__peach;
      }
    }
  }

  &[disabled] {
    color: rgba($color__black, 0.15);
    border-color: rgba($color__black, 0.2);
  }

  &.error {
    border-color: $color__status--error;
    color: $color__status--error;
    font-weight: 600;
  }
}

.errorIndicator {
  position: absolute;
  right: space(2);
  color: $color__status--error;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  outline: none;
}
