@import 'core';

.linkWrapper {
  font-size: 0;
  color: inherit;

  svg {
    height: 26px;

    :global(body.theme_light) & {
      fill: $color__black;
    }

    :global(body.theme_dark) & {
      fill: #fff;
    }
  }
}
