@import 'core';

.section {
  margin-bottom: 153px;
}
.wrapper {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.singleMember {
  display: flex;
  flex-direction: column;
  width: 306px;
  border-radius: 70px;
}
